<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('owd_logo.png' , size: '185x185'), "/" %>

  </header>

  <div class="items-sell-main">
    <h2 class="items-sell-title">愛犬情報を入力</h2>
    <%= form_with model: @dog, url: user_dogs_path, data: { turbo: false }, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="new-items">
      <div class="weight-bold-text">
        お名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :dog_name, class:"items-text", id:"item-name", placeholder:"(必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
        生年月日
        <span class="indispensable">必須</span>
      </div>
      <%= f.date_select(:dog_birthday, prefix: "dog_birthday", prompt:"---",use_month_numbers:true, start_year:Time.now.year, end_year:1990, date_separator:'  /  ') %>
      <div class="weight-bold-text">
        犬種
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:breed_id, Breed.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      <div class="weight-bold-text">
        男の子／女の子
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>

    <%# おでかけ画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        おでかけ画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /おでかけ画像 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <p class="inc">
      ©︎ Chisato Matoba 2023
    </p>
  </footer>
</div>