<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <span class="bg-color"><%= "~#{@user.nickname}さんの情報~"%></span>
      </h2>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item display-7">名前</th>
            <td class="detail-value display-7"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-item display-7">年齢</th>
            <td class="detail-value display-7"><%= @age %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <span class="bg-color">~愛犬紹介~</span>
      </h2>
      <%# 愛犬情報 %>
      <% @dogs.each do |dog| %>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item display-7">名前</th>
              <td class="detail-value display-7"><%= dog.dog_name %></td>
            </tr>
            <tr>
              <th class="detail-item display-7">お写真</th>
              <td class="detail-value">
                <div class="item-img-content">
                  <%= image_tag(dog.image, class: "item-box-img", alt: "No Image") %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="detail-item display-7">生年月日</th>
              <td class="detail-value display-7"><%= dog.dog_birthday %></td>
            </tr>
            <tr>
              <th class="detail-item display-7">犬種</th>
              <td class="detail-value display-7"><%= dog.breed.name %></td>
            </tr>
            <tr>
              <th class="detail-item display-8">男の子／女の子</th>
              <td class="detail-value display-7"><%= dog.gender.name %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%# ログイン中かつ自分のページなら、愛犬登録ボタンを表示 %>
      <div class="title d-grid col-3 mx-auto">
        <%= link_to "！愛犬登録はこちら！", new_user_dog_path(@user.id), class: "btn btn-warning display-7" %>
      </div>
      <h2 class="page-heading">
        <br><span class="bg-color"><%= "~#{@user.nickname}さんの投稿一覧~"%></span>
      </h2>

      <!-- photo -->
      <div class="row mbr-gallery">
        <!-- 画像（postの数だけ) -->
        <% @posts.each do |post| %>
          <%= render "shared/gallery", post: post, facility: post.facility %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
