<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <%= "#{@user.nickname}さんの愛犬紹介"%>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿一覧"%>
      </h2>
      <div class="user__card">
        <%# そのユーザーが投稿した情報一覧を表示する %>
          <%# @posts.each do |post| %>
            
          <%# end %>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>