<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <span class="bg-color"><%= "~#{@user.nickname}さんの情報~"%></span>
      </h2>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item display-7">名前</th>
            <td class="detail-value display-7"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-item display-7">年齢</th>
            <td class="detail-value display-7"><%= @age %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <span class="bg-color">~愛犬紹介~</span>
      </h2>
      <%# 愛犬情報 %>
      <% @dogs.each do |dog| %>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item display-7">名前</th>
              <td class="detail-value display-7"><%= dog.dog_name %></td>
            </tr>
            <tr>
              <th class="detail-item display-7">お写真</th>
              <td class="detail-value">
                <div class="item-img-content">
                  <%= image_tag(dog.image, class:"item-box-img") %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="detail-item display-7">生年月日</th>
              <td class="detail-value display-7"><%= dog.dog_birthday %></td>
            </tr>
            <tr>
              <th class="detail-item display-7">犬種</th>
              <td class="detail-value display-7"><%= dog.breed.name %></td>
            </tr>
            <tr>
              <th class="detail-item display-8">男の子／女の子</th>
              <td class="detail-value display-7"><%= dog.gender.name %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%# ログイン中かつ自分のページなら、愛犬登録ボタンを表示 %>
      <div class="title d-grid col-3 mx-auto">
        <%= link_to "！愛犬登録はこちら！", new_user_dog_path(@user.id), class: "btn btn-warning display-7" %>
      </div>
      <h2 class="page-heading">
        <br><span class="bg-color"><%= "~#{@user.nickname}さんの投稿一覧~"%></span>
      </h2>
      <div class="user__card">
        <%# そのユーザーが投稿した情報一覧を表示する %>
          <%# @posts.each do |post| %>
            
          <%# end %>
      </div>
    </div>

  <!-- photo -->
    <div class="row mbr-gallery">
        <!-- 画像（postの数だけ) -->
        <% @post.each do |post| %>
          <div class="col-12 col-md-6 col-lg-3 item gallery-image">
            <%= link_to post_path(post.id) do %>
              <div class="mbr-item-subtitle mbr-fonts-style align-center mb-0 mt-3 display-7">
                <%= post.place_name %>
              </div>
              <div class="item-wrapper mb-3" data-toggle="modal" data-bs-toggle="modal" data-target="#tOiMnQnqDw-modal" data-bs-target="#tOiMnQnqDw-modal">
                <%= image_tag(post.images[0], class: "w-100", alt: "Mobirise Website Builder",  data: { slide_to: "0", bs_slide_to: "0", target: "#lb-tOiMnQnqDw", bs_target: "#lb-tOiMnQnqDw" }) %>
              </div>
              <div class="mbr-item-subtitle mbr-fonts-style align-center mb-0 mt-3 display-8">
                <span><%= post.prefecture.name + "　　　" + post.rating.name %></span><br>
                <span><%= link_to "投稿者：" + post.user.nickname + "さん", "/users/#{post.user_id}" %></span>
              </div>
          </div>
        <% end %>
        <!-- 画像クリック後 -->
        <div class="modal mbr-slider" tabindex="-1" role="dialog" aria-hidden="true" id="tOiMnQnqDw-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="carousel slide carousel-fade" data-pause="false" data-bs-pause="false" id="lb-tOiMnQnqDw" data-interval="5000" data-bs-interval="5000">
                  <div class="carousel-inner">
                    <!-- 複数画像があるとき枚数分(スライド用) -->
                    <% post.images.each_with_index do |image,i| %>
                      <% if i == 0 %>
                        <div class="carousel-item active">
                          <%= image_tag(image, class: "d-block w-100", alt: "Mobirise Website Builder") %>
                        </div>
                      <% else %>
                        <div class="carousel-item">
                          <%= image_tag(image, class: "d-block w-100", alt: "Mobirise Website Builder") %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- 下の●、複数画像があるとき枚数分(スライド用) -->
                  <ol class="carousel-indicators">
                    <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#lb-tOiMnQnqDw" data-bs-target="#lb-tOiMnQnqDw"></li>
                    <li data-slide-to="1" data-bs-slide-to="1" data-target="#lb-tOiMnQnqDw" data-bs-target="#lb-tOiMnQnqDw"></li>
                    <li data-slide-to="2" data-bs-slide-to="2" data-target="#lb-tOiMnQnqDw" data-bs-target="#lb-tOiMnQnqDw"></li>
                    <li data-slide-to="3" data-bs-slide-to="3" data-target="#lb-tOiMnQnqDw" data-bs-target="#lb-tOiMnQnqDw"></li>
                    <li data-slide-to="4" data-bs-slide-to="4" data-target="#lb-tOiMnQnqDw" data-bs-target="#lb-tOiMnQnqDw"></li>
                  </ol>
                  <!-- 閉じるボタン -->
                  <a role="button" href="" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                  </a>
                  <!-- 前へ、次へボタン(1枚のときは表示しない？) -->
                  <a class="carousel-control-prev carousel-control" role="button" data-slide="prev" data-bs-slide="prev" href="#lb-tOiMnQnqDw">
                    <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                    <span class="sr-only visually-hidden">Previous</span>
                  </a>
                  <a class="carousel-control-next carousel-control" role="button" data-slide="next" data-bs-slide="next" href="#lb-tOiMnQnqDw">
                    <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                    <span class="sr-only visually-hidden">Next</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<%= render "shared/footer" %>