<div class="items-sell-contents">
  <%= render "shared/header_blue" %>

  <div class="items-sell-main">
    <h2 class="items-sell-title">新しく施設を登録して投稿</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%=link_to '施設登録画面へ', new_facility_path, class:"btn btn-outline-info" %>
    </div>

    <div style="height: 50px;"></div>

    <h2 class="items-sell-title">登録済み施設を使用して投稿</h2>
    <div class="items-sell-sub-title"><b>〜施設名を検索〜</b>
      <%= form_with(url: facilities_path, method: :get, local: true) do |form| %>
        <%= form.text_field :search, placeholder: "施設名" %>
        <%= form.submit "検索" %>
      <% end %>

      <% if params[:search].present? %>
        <div class="search-results">
          <br>検索結果
          <% if @search_results.empty? %>
            <p>お探しの施設はありません</p>
          <% else %>
            <div class="facility-list-search">
              <table>
                <thead>
                  <tr>
                    <th>都道府県</th>
                    <th>施設名</th>
                  </tr>
                </thead>
                <tbody>
                  <% @search_results.each do |facility| %>
                    <tr>
                      <td><%= facility.prefecture.name %></td>
                      <td><%= link_to facility.place_name, facility_path(facility), class: 'facility_link' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div style="height: 50px;"></div>

    <div class="items-sell-sub-title"><b>〜一覧から検索〜</b><br>
      投稿したい施設の名前をクリックしてください
      <div class="facility-list">
        <table>
          <thead>
            <tr>
              <th>都道府県</th>
            </tr>
          </thead>
          <tbody>
            <!-- 全国 -->
            <tr class="prefecture-row" data-prefecture-id="zennkoku">
              <td>
                <span class="prefecture-name">全国</span>
                <i class="bi bi-chevron-down prefecture-icon"></i>
              </td>
            </tr>
            <tr class="facility-row" data-prefecture-id="zennkoku" style="display:none;">
              <td>
                <!-- ドロップダウンメニューの内容 -->
                <ul>
                  <% @facilities.each do |facility| %>
                    <li><%= link_to facility.place_name, facility_path(id: facility.id), class: 'facility_link' %></li>
                  <% end %>
                </ul>
              </td>
            </tr>

            <!-- 都道府県別 -->
            <% @prefectures.select { |prefecture| (2..48).include?(prefecture.id) }.each do |prefecture| %>
              <tr class="prefecture-row <%= 'no-data' if @facilities_groupby_pref[prefecture.id].nil? %>" data-prefecture-id="<%= prefecture.id %>">
                <td>
                  <span class="prefecture-name"><%= prefecture.name %></span>
                  <i class="bi bi-chevron-down prefecture-icon"></i>
                </td>
              </tr>
              <tr class="facility-row <%= 'no-data' if @facilities_groupby_pref[prefecture.id].nil? %>" data-prefecture-id="<%= prefecture.id %>" style="display:none;">
                <td>
                  <!-- ドロップダウンメニューの内容 -->
                  <ul>
                    <% @facilities_groupby_pref[prefecture.id]&.each do |facility| %>
                      <li><%= link_to facility.place_name, facility_path(id: facility.id), class: 'facility_link' %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= render "shared/footer_blue" %>
</div>
