<%= render "shared/header" %>

<div class="tags-main">
  <div class="user__wrapper">
    <h2 style="text-align: center;">
      <span class="bg-color">~<%= @tag.name %>タグのお出かけ情報一覧~</span>
    </h2>

    <div class="row mbr-gallery">
      <% if @tag.posts.present? %>
        <%# その地域の投稿がある場合 %>
        <% @tag.posts.each do |post| %>
          <%= render "shared/gallery", post:, facility: post.facility %>
        <% end %>
      <% else %>
        <%# その地域の投稿がない場合 %>
        <p style="text-align: center; margin-top: 50px;">
          <%= @tag.name %>のタグがつけられているおでかけ情報がまだありません
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
