<div class="items-sell-main">
  <%# 施設の情報 %>
  <h2 class="items-sell-title">施設情報</h2>
  <table class="acility-list">
    <tbody>
      <tr>
        <th class="detail-item">施設名</th>
        <td class="detail-value"><%= @facility.place_name %></td>
      </tr>
      <tr>
        <th class="detail-item">所在地</th>
        <td class="detail-value"><%= @facility.prefecture.name %></td>
      </tr>
      <tr>
        <th class="detail-item">カテゴリー</th>
        <td class="detail-value"><%= @facility.category.name %></td>
      </tr>
      <tr>
        <th class="detail-item">条件</th>
        <td class="detail-value">
          <% @facility.conditions.each do |condition| %>
            <%= condition.category %><br>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="height: 50px;"></div>

  <%# おでかけ情報投稿フォーム %>
  <h2 class="items-sell-title">おでかけ情報を入力</h2>
  <%= form_with model: [@facility, @post], data: { turbo: false }, id: 'new_post', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%# 口コミ %>
    <div class="weight-bold-text">
      <span>訪れた人数</span>
      <span class="required-form">必須</span>
    </div>
    <%= f.text_field :people_num, class:"items-text", id:"item-name", placeholder:"例）3" %>
    <div class="weight-bold-text">
      <span>一緒に訪れたワンちゃんの数</span>
      <span class="required-form">必須</span>
    </div>
    <%= f.text_field :dogs_num, class:"items-text", id:"item-name", placeholder:"例）3" %>
    <div class="weight-bold-text">
      満足度（非常に不満〜非常に満足）
      <span class="required-form">必須</span>
    </div>
    <%= f.collection_select(:rating_id, Rating.all, :id, :name, { include_blank: true }, {class:"select-box", id:"item-category"}) %>
    <div class="items-explain">
      <div class="weight-bold-text">
        感想・おすすめポイント
        <span class="required-form">必須</span>
      </div>
      <%= f.text_area :review, class:"items-text", id:"item-info", placeholder:"施設を訪れた感想を書いてください！（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <%# /口コミ %>

    <%# おでかけ画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        おでかけ画像
        <span class="required-form">必須</span>
      </div>
      <div id="previews"></div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
          ※画像は5枚まで投稿できます
        </p>
        <%= f.file_field :image, id:"item-image", name: 'post[images][]', data: {index: 0} %>
      </div>
    </div>
    <%# /おでかけ画像 %>

    <%# タグ付け %>
    <div class="tag-form">
      <div class="weight-bold-text">
        タグ(複数登録可)
        <span class="optional-form">任意</span>
      </div>
      タグを入力してください
    </div>
    <%# tags.jsにて動作 %>
    <div class="tag-form-container">
      <input type="text" id="input-tag" placeholder="テキストを入力">
      <button id="add-tag-button" type="button">タグを追加</button>
    </div>
    <div id="tag-container">
      <% @post.tags.each_with_index do |tag, i| %>
        <div class="badge existing-tag" id="existing-tag-<%= i %>" data-tag-id="<%= tag.id %>" data-tag-name="<%= tag.name %>">
          <%= tag.name %>
          <button type="button" class="delete-tag-btn" data-tag-button-index="<%= i %>">✕</button>
        </div>
      <% end %>
    </div>
    <%# /タグ付け %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  <% end %>
</div>
