<%= render "shared/header" %>
<div class='main'>

  <section data-bs-version="5.1" class="header10 cid-tOiHnzp6jK mbr-fullscreen" id="header10-1j">
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrap col-12 col-md-6">
          <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
            <strong>おでかけ<br>with DOGS!!</strong>
          </h1>

          <p class="mbr-fonts-style mbr-text mbr-white mt-4 display-7">
            あなたと愛犬の毎日をもっと楽しくするために…
          </p>
          <div class="mbr-section-btn mt-5">
            <% if user_signed_in? %>
              <p class="mbr-fonts-style mbr-text mbr-white display-5">
                <b>Let's GO！！！</b>
              </p>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-light display-7" %></li>
              <%= link_to '新規登録はこちら', new_user_registration_path, class: "btn btn-outline-light display-7" %></li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ギャラリー -->
  <section data-bs-version="5.1" class="gallery1 mbr-gallery cid-tOiHBd9Aax" id="gallery01-1l">
    <div class="container-fluid">
      <!-- title -->
      <div class="row justify-content-center">
        <div class="col-12 content-head">
          <div class="mb-5">
            <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2"><strong>Photo Gallery</strong></h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">みんなのおでかけフォトギャラリー</h4>
          </div>
        </div>
      </div>

      <!-- photo -->
      <div class="row mbr-gallery">
        <!-- タブ -->
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link tab_change active" id="nav-zenkoku-tab" data-bs-toggle="tab" data-bs-target="#nav-zenkoku-content" type="button" role="tab" aria-controls="nav-zenkoku-content" aria-selected="true">全国</button>
            <button class="nav-link tab_change" id="nav-hokkaido-tab" data-bs-toggle="tab" data-bs-target="#nav-hokkaido-content" type="button" role="tab" aria-controls="nav-hokkaido-content" aria-selected="false">北海道</button>
            <button class="nav-link tab_change" id="nav-tohoku-tab" data-bs-toggle="tab" data-bs-target="#nav-tohoku-content" type="button" role="tab" aria-controls="nav-tohoku-content" aria-selected="false">東北</button>
            <button class="nav-link tab_change" id="nav-kanto-tab" data-bs-toggle="tab" data-bs-target="#nav-kanto-content" type="button" role="tab" aria-controls="nav-kanto-content" aria-selected="false">関東</button>
            <button class="nav-link tab_change" id="nav-chubu-tab" data-bs-toggle="tab" data-bs-target="#nav-chubu-content" type="button" role="tab" aria-controls="nav-chubu-content" aria-selected="false">中部</button>
            <button class="nav-link tab_change" id="nav-kinki-tab" data-bs-toggle="tab" data-bs-target="#nav-kinki-content" type="button" role="tab" aria-controls="nav-kinki-content" aria-selected="false">近畿</button>
            <button class="nav-link tab_change" id="nav-chushikoku-tab" data-bs-toggle="tab" data-bs-target="#nav-chushikoku-content" type="button" role="tab" aria-controls="nav-chusshikoku-content" aria-selected="false">中国四国</button>
            <button class="nav-link tab_change" id="nav-kyushu-tab" data-bs-toggle="tab" data-bs-target="#nav-kyushu-content" type="button" role="tab" aria-controls="nav-kyushu-content" aria-selected="false">九州</button>
            <button class="nav-link tab_change" id="nav-okinawa-tab" data-bs-toggle="tab" data-bs-target="#nav-okinawa-content" type="button" role="tab" aria-controls="nav-okinawa-content" aria-selected="false">沖縄</button>
          </div>
        </nav>
        <!-- photo -->
        <div class="tab-content" id="nav-tabContent">
          <!-- 全国 -->
          <div class="tab-pane fade show active" id="nav-zenkoku-content" role="tabpanel" aria-labelledby="nav-home-tab" data-bs-target="#nav-zenkoku-content" tabindex="0">
            <div class="row mbr-gallery">
              <!-- 例 -->
              <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                <%= image_tag("gallery.jpeg", class: "") %>
              </div>
              <!-- 画像（postの数だけ) -->
              <% @posts.each do |post| %>
                <%= render "shared/gallery", post: post %>
              <% end %>
            </div>
          </div>

        <% area_list = [["北海道", "nav-hokkaido-content", "nav-hokkaido-tab"], ["東北", "nav-tohoku-content", "nav-tohoku-tab"], ["関東", "nav-kanto-content", "nav-kanto-tab"], ["中部", "nav-chubu-content", "nav-chubu-tab"], ["近畿", "nav-kinki-content", "nav-kinki-tab"], ["中国四国", "nav-chushikoku-content", "nav-chushikoku-tab"], ["九州", "nav-kyushu-content", "nav-kyushu-tab"], ["沖縄", "nav-okinawa-content", "nav-okinawa-tab"]] %>
        <% area_list.each do |area_name| %>
          <% if @areas[area_name].present? %>
            <%# その地域の投稿がある場合 %>
            <div class="tab-pane fade" id="<%= area_name[1] %>" role="tabpanel" aria-labelledby="<%= area_name[2] %>" data-bs-target="#<%= area_name[1] %>" tabindex="0">
              <div class="row mbr-gallery">
                <% @areas[area_name].each do |post| %>
                  <%= render "shared/gallery", post: post %>
                <% end %>
              </div>
            </div>
          <% else %>
            <%# その地域の投稿がない場合 %>
            <div class="tab-pane fade" id="<%= area_name[1] %>" role="tabpanel" aria-labelledby="<%= area_name[2] %>" data-bs-target="#<%= area_name[1] %>" tabindex="0">
              <br><p style="text-align: center;"><%= area_name[0] %>のおでかけ情報がまだありません</p>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render "shared/footer" %>

