<%= render "shared/header" %>
<div class='main'>

<section data-bs-version="5.1" class="header10 cid-tOiHnzp6jK mbr-fullscreen" id="header10-1j">
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-6">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>おでかけ<br>with DOGS!!</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mt-4 display-7">
          あなたと愛犬の毎日をもっと楽しくするために…
        </p>
        <div class="mbr-section-btn mt-5">
          <% if user_signed_in? %>
            <p class="mbr-fonts-style mbr-text mbr-white display-5">
              <b>Let's GO！！！</b>
            </p>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-light display-7" %></li>
            <%= link_to '新規登録はこちら', new_user_registration_path, class: "btn btn-outline-light display-7" %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ギャラリー -->
<section data-bs-version="5.1" class="gallery1 mbr-gallery cid-tOiHBd9Aax" id="gallery01-1l">
  <div class="container-fluid">
  <!-- title -->
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mb-5">
          <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2"><strong>Photo Gallery</strong></h3>
          <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">みんなのおでかけフォトギャラリー</h4>
        </div>
      </div>
    </div>
      
  <!-- photo -->
    <div class="row mbr-gallery">
      <!-- 例 -->
      <div class="col-12 col-md-6 col-lg-3 item gallery-image">
        <%= image_tag("gallery.jpeg", class: "") %>
      </div>
      <!-- 画像（postの数だけ) -->
      <% @posts.each do |post| %>
        <%= render "shared/gallery", post: post %>
      <% end %>
    </div>
  </div>
</section>

<%= render "shared/footer" %>