<%= render "shared/header" %>
<div class='main'>

<section data-bs-version="5.1" class="header10 cid-tOiHnzp6jK mbr-fullscreen" id="header10-1j">
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-6">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>おでかけ<br>with DOGS!!</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mt-4 display-7">
          あなたと愛犬の毎日をもっと楽しくするために…
        </p>
        <div class="mbr-section-btn mt-5">
          <% if user_signed_in? %>
            <p class="mbr-fonts-style mbr-text mbr-white display-5">
              <b>Let's GO！！！</b>
            </p>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-light display-7" %></li>
            <%= link_to '新規登録はこちら', new_user_registration_path, class: "btn btn-outline-light display-7" %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>






  <div class='item-contents'>
    <h2 class='title'>みんなのおでかけ情報一覧</h2>
    <ul class='item-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to post_path(post.id) do %>
            <div class='item-img-content'>
              <%= image_tag(post.image, class: "item-img") %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= post.place_name %>
              </h3>
              <div class='item-price'>
                <span><%= post.prefecture.name + "　　　" + post.rating.name %></span>
              </div>
              <div class='item-price'>
                <span><%= link_to "投稿者：" + post.user.nickname + "さん", "/users/#{post.user_id}", class: :comment_user %></span>
              </div>

              
            </div>
          <% end %>
        </li>
      <% end %>
<!--
      <% if @posts.empty? %>
        <%# 商品がない場合のみ以下のダミー商品を表示 %>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                商品を出品してね！
              </h3>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
-->
    </ul>
  </div>

  <%# /商品一覧 %>
</div>


<%= link_to(new_post_path, data: { turbo: false }, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>


<%= render "shared/footer" %>