<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('owd_logo.png' , size: '185x185'), "/" %>

  </header>

  <div class="items-sell-main">
    <h2 class="items-sell-title">おでかけ情報を入力</h2>
    <%= form_with model: @post, url: posts_path, data: { turbo: false }, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%# 施設についての説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        都道府県
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
      <div class="weight-bold-text">
        施設名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :place_name, class:"items-text", id:"item-name", placeholder:"施設の名前（必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      <div class="weight-bold-text">
        施設の条件
        <span class="form-any">任意、複数選択可</span>
      </div>
      <div class="multi-check">
        <%= f.collection_check_boxes(:condition_ids, Condition.all, :id, :category, {}, {class:"check-box", id:"entry-condition"}) do |c| %>
          <%= c.label { c.check_box + c.text } %>
          <br>
        <% end %>
      </div>
    </div>
    <%# /施設についての説明 %>

    <%# 口コミ %>
      <div class="weight-bold-text">
        <span>訪れた人数</span>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :people_num, class:"items-text", id:"item-name", placeholder:"例）3" %>
      <div class="weight-bold-text">
        <span>一緒に訪れたワンちゃんの数</span>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :dogs_num, class:"items-text", id:"item-name", placeholder:"例）3" %>
      <div class="weight-bold-text">
        満足度（非常に不満〜非常に満足）
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:rating_id, Rating.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      <div class="items-explain">
        <div class="weight-bold-text">
          感想・おすすめポイント
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :review, class:"items-text", id:"item-info", placeholder:"施設を訪れた感想を書いてください！（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    <%# /口コミ %>

    <%# おでかけ画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        おでかけ画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /おでかけ画像 %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        <a href="#">偽ブランドの販売</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">

    <%= link_to image_tag('owd_logo.png' , size: '185x185'), "/" %>
    <p class="inc">
      ©︎ Chisato Matoba 2023
    </p>
  </footer>
</div>