<%= render "shared/header" %>

<div class="post-show-main">
<%# おでかけ情報の概要 %>
  <div class="user__wrapper">
    <h2 class="page-heading">
      <span class="bg-color">~施設情報~</span>
    </h2>
    <%# 施設の情報 %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item display-7">施設名</th>
          <td class="detail-value display-7"><%= @post.place_name %></td>
        </tr>
        <tr>
          <th class="detail-item display-7">所在地</th>
          <td class="detail-value display-7"><%= @post.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item display-7">カテゴリー</th>
          <td class="detail-value display-7"><%= @post.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item display-7">条件</th>
          <td class="detail-value display-7">
            <% @post.conditions.each do |condition| %>
              <%= condition.category %><br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <%# ユーザーレビュー %>
    <h2 class="page-heading">
      <span class="bg-color">~<%= link_to @post.user.nickname, "/users/#{@post.user_id}" %>さんのレビュー~</span>
    </h2>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item display-7">訪れた人数</th>
          <td class="detail-value display-7"><%= "#{@post.people_num}　人　＋　ワンちゃん　#{@post.dogs_num}　匹" %></td>
        </tr>
        <tr>
          <th class="detail-item display-7">満足度</th>
          <td class="detail-value display-7"><%= @post.rating.name %></td>
        </tr>
        <tr>
          <th class="detail-item display-7">レビュー</th>
          <td class="detail-value display-7">
            <%= @post.review %>
            <br><br>
            <div class="item-img-content">
              <%= image_tag @post.images[0], class: "item-img-content" %><br>
              <div class="other-images">
                <% @post.images[1..-1].each do |image| %>
                  <div class="other-image">
                    <%= image_tag image %>
                  </div>
                <%end%>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <%# /ユーザーレビュー %>

    <div class="comment-box">
      <%# コメント投稿欄(ログイン中のみ) %>
      <% if user_signed_in? %>
        <h2>コメント投稿</h2>
        <%= form_with model: [@post, @comment], local: true do |f|%>
          <div >
            <%= f.text_area :content, class:"comment-text" %>
          </div>
          <button class='display-7'>
            <%= f.submit "コメントする" %>
          </button>
        <% end %>
      <% end %>

      <%# コメント一覧 %>
      <ul class="comments_lists">
        <h2>コメント一覧</h2>
        <li class="comments_list">
          <% @comments.each do |comment| %>
            <p>
              <br><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: :comment_user %>
              (<%= comment.created_at.strftime('%Y/%m/%d') %>)：　
              <%= comment.content %><br><br>
            </p>
          <% end %>
          <% if @comments.empty? %>
            <br><br><p>※コメントはまだありません</p><br><br>
          <% end %>
        </li>
      </ul>
    </div>

<!--
  <a href="#" class="another-posts"><%= @post.prefecture.name %>のおでかけ情報をもっと見る</a>
-->
  </div>
</div>

     <%# 投稿者のみ編集削除ボタン表示 %>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class='edit-del'>
          <%= link_to "編集", edit_post_path(@post.id), data: { turbo: false }, method: :get, class: "item-red-btn" %>
          <%= link_to "削除", post_path(@post.id), data: { turbo_method: :delete }, class:"item-destroy" %>
        </div>
      <% end %>
      <%# /投稿者のみ編集削除ボタン表示 %>

<%= render "shared/footer" %>
